<div class="container burgerInstance">
  {{name}}
<div class="flex-row button-group">
  <button class="button change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}Devour It{{else}}Undevour It{{/if}}
  </button>

  <button class="button delete-burger" data-id="{{this.id}}">Trash It</button>
  </div>
</div>
