<div>
  {{name}}

  <button class="full-button change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}Devour It{{else}}Undevour It{{/if}}
  </button>

  <button class="full-button delete-burger" data-id="{{this.id}}">Trash It</button>
</div>
