<li>
  {{name}}

  <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{#if devoured}}DEVOUR IT{{else}}UNDEVOUR IT{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">TRASH IT</button>
</li>
